<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Welcome</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
  <header>
    <h1>Welcome onboard</h1>
  </header>

  <section>
    <p>Please click the link below to activate your account</p>
    <a href="<%= locals.verifyUrl %>" target="_blank" rel="noopener noreferrer">Activate
      account </a>
  </section>
</body>

</html>
